span {
	color: red;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
	font-size: 1.4em;
	line-height: 1.4;
	color: #333;
	background-color: #fff
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

audio, canvas, video, progress {
	display: inline-block;
	vertical-align: baseline;
}

a {
	background-color: transparent;
	color: #337ab7;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #23527c;
}

b, strong {
	font-weight: bold;
}

abbr [title] {
	border-bottom: 1px dotted; 
}

small {
	font-size: 80%;
}

img {
	border: 0;
}

figure {
	margin: 1em 40px;
}

table {
	border-collapse: collapse;
	border-spacing: 0; 
}

td, th {
	padding: 0;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 1170px) {
	.container {
		width: 1170px;
	}
}

.media {
	background: red;
}